/* app/globals.css */

/* Tailwindの命令は不要なので削除されたまま */

html {
  background-color: #f1f5f9; /* アプリ全体の背景色をここに設定 */
}

body {
  color: #1e293b;
  margin: 0; /* ブラウザのデフォルトマージンをリセット */
  font-family: sans-serif; /* 基本フォントを指定 */
}